*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: "Poppins",serif;
}
/* HEADER SEACTION */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    height: 5vmax;
    background-color: aliceblue;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.logo{
    height: 3.2vmax;
}
.logo img{
    height: 100%;
    width: 100%;
}

.navbtns{
    display: flex;
    background-color: #232323;
    border-radius:25px;
    height: 100%;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1vw;
}

.dropdown{
    position: relative;
}

.dropdown a{
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.1em 0.5em;
    color: aliceblue;
    border-radius: 25px;
    justify-self: center;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;                      
    transform: translateX(-50%);
    background-color: #232323;
    min-width: 180px;
}


.dropdown-content a{
    display: block;
    padding: 0.5em 0.5em;
    font-size: 100%;
    color: aliceblue;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}


.dropdown-content a:hover{
    background-color: #3a3a3a;
}

.icons{
    display: flex;
    gap: 30px;
    height: 3.2vmax;
}
.icons img{
    height: 100%;
    width: 100%;
    align-self: center;
}
#menubar{
    display: none;
}

/* MAIN SECTION */

main{
    background-color: white;
}
.container-zero{
    width: 100%;
    height: 5vmax;
}
.container-one{
    background-image: url("ContainerBackgrounds/ContainerOne.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 4vmax;
    width:100%;
    height: auto;
}
.row{
    margin: auto;
    width: 90%;
    display: flex;
    height: 100%;
}
.col2{
    padding-top: 10%;
    flex-basis: 50%;
    font-size: 4vmax;

}
.col2 h1{
    display: block;
    font-size: 1em;
    color: white;
}
.col2 p{
    color: white;
    font-size: 0.4em;
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    display: block;
}

#image{
    display: flex;
    align-items: end;
}
.col2 img{
    height: auto;
    width: 100%;
}
.col2 a{
    text-decoration: none;
    color: white;
    background-color: #d8a527;
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    font-size: 0.4em;
    margin-bottom: 70px;
}
.col2 a:hover{
    color: black;
    background-color: aliceblue;
}
.headline{
    height: 3vmax;
    background-color: #232323;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 1vw;
}
.headline h2{
    align-self: center;
    justify-self: center;
    margin: 0;
    text-transform: uppercase;
    font-size: 2em;
    color: white;
}
.container-two{
    width: 90%;
    margin: auto;
}
.categories{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
}
.category{
    flex-basis: 20%;
}
.category img{
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}
.category:hover img{
    transform: scale(1.07);
    cursor: pointer;
}
.container-three{
    width: 90%;
    margin: auto;
}
.productgallery{
    margin: 2rem 0rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    text-decoration: none;
    gap: 2rem 2rem;
    justify-self: center;
}

.productgallery a{
    text-decoration: none;
}
.product{
    
    overflow: hidden;
    height: 20rem;
    width: 300px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    border: 1px solid black;
}
.product img{
    height: 200px;
    width: 100%;
}
.product p{
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.rating{
    text-align: center;
}
.star{
    font-size: 22px;
}
.filled{
    color: #ffc107;
}
.empty{
    color: #ccc;
}
.price{
    color: black;
    text-align: center;
    font-size: 20px;
}
.product:hover{
    transform: scale(1.07);
    
}
footer{
    display:flex;
    justify-content:space-between;
    padding: 3%;
    width:100%;
    margin-top: 3%;
    background-color: #232323;
    color: white;
    font-size: 1.4rem;
}
.footer-row input{
    height: 1.9rem;
    border: none;
    appearance: none;
    background-color: #f2f2f2;
    padding: 0.7rem;
    border-radius: 0.2rem;
    width: 14rem;
    outline: none;
}
#Subscribe{
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #d8a527;
    color: black;
}
#Subscribe:hover{
    background-color: white;
    color: #232323;
}
.footer-col h4{
    font-size: 1em;
    color:white;
}
.footer-col p{
    margin:3px;
    color:white;
    font-size:0.6em;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {

    .navbtns{
        display: none;
    }
    #menubar{
        display: block;
    }
    #combo{
        display: none;
    }
    header{
        height: 6vw;;
    }
    .container-one{
    padding-top: 4vmax;
    width:100%;
    min-height: 50vw;
    }
    .col2{
       padding-top: 10%;
    }
    .col2 h1{
    font-size: 0.7em;
    color: white;
    }
    .col2 p{
    color: white;
    font-size: 0.4em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    }
    .col2 img{
        align-self: self-end;
        max-height: 40vw;
    }
        .product{
    overflow: hidden;
    height: 13rem;
    width: 145px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    border: 1px solid black;
}
.product img{
    height: 110px;
    width: 100%;
}
.product h2{
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 1em;
}
.rating{
    text-align: center;
}
.star{
    font-size: 1em;
}
.filled{
    color: #ffc107;
}
.empty{
    color: #ccc;
}
.price{
    color: black;
    text-align: center;
    font-size: 1em;
}
.footer-row input{
    height: 1rem;
    border: none;
    appearance: none;
    background-color: #f2f2f2;
    padding: 0.5rem;
    border-radius: 0.2rem;
    width: 4rem;
    font-size: 0.65rem;
    outline: none;
}
#Subscribe{
    border: none;
    border-radius: 0.4rem;
    padding: 0.3rem;
    cursor: pointer;
    background-color: #d8a527;
    color: black;
}
#Subscribe:hover{
    background-color: white;
    color: #232323;
}
.footer-row p{
    font-size: 0.5em;
}
.footer-row img{
    padding: auto;
    width: 80%;
    height: 1.7em;
    justify-self: start;
}
.footer-row button{
    font-size: 0.4em;
}
.footer-col h4{
    font-size: 0.5em;
    color:white;
}
.footer-col p{
    margin:3px;
    color:white;
    font-size: 0.35em;
}
}
@media (max-width: 600px) {

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 2rem;
        height: 4vh;
        background-color: aliceblue;
        position: fixed;
        width: 100%;
        z-index: 999;
    }
    .container-one{
    padding-top: 4vmax;
    width:100%;
    min-height:24vw;
    }
    .col2 h1{
    font-size: 0.5em;
    color: white;
    }
    .col2 p{
    color: white;
    font-size: 0.26em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    }
    .col2 img{
        align-self: self-end;
        max-height: 40vw;
    }
    .col2 a{
    text-decoration: none;
    color: white;
    background-color: #d8a527;
    border-radius: 2.5rem;
    padding: 0.3rem 0.8rem;
    font-size: 0.3em;
    margin-bottom: 2rem;
    }
    .product{
    overflow: hidden;
    height: 13rem;
    width: 135px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    border: 1px solid black;
}
.product img{
    height: 110px;
    width: 100%;
}
.product h2{
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 1em;
}
.rating{
    text-align: center;
}
.star{
    font-size: 1em;
}
.filled{
    color: #ffc107;
}
.empty{
    color: #ccc;
}
.price{
    color: black;
    text-align: center;
    font-size: 1em;
}
.headline h2{
    font-size: 3em;
}
.footer-row input{
    height: 1rem;
    border: none;
    appearance: none;
    background-color: #f2f2f2;
    padding: 0.5rem;
    border-radius: 0.2rem;
    width: 4rem;
    font-size: 0.65rem;
    outline: none;
}
#Subscribe{
    border: none;
    border-radius: 0.4rem;
    padding: 0.3rem;
    cursor: pointer;
    background-color: #d8a527;
    color: black;
}
#Subscribe:hover{
    background-color: white;
    color: #232323;
}
.footer-row p{
    font-size: 0.3em;
}
.footer-row img{
    padding: auto;
    width: 80%;
    height: 1.7em;
    justify-self: center;
}
.footer-row button{
    font-size: 0.4em;
}
.footer-col h4{
    font-size: 0.4em;
    color:white;
}
.footer-col p{
    margin:3px;
    color:white;
    font-size: 0.35em;
}
}